[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
keras = "==2.3.1"
tensorflow = "==2.1.0"
pandas = "==1.0.1"
numpy = "==1.18.1"
face-recognition = "==1.2.3"
cv2 = "*"
python-speech-features = "*"
moviepy = "==0.2.3.2"

[requires]
python_version = "3.6"
